* {
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

:root {
    --bg-color: #000515;
    --input-bg: #0b172a;
    --pform-bg: #162b4b;
    --font-color: #7C8594;
    --btn-color: #BD9060;
    --btn-color-light: #fac48b;
}

body {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}

.container {
    max-width: 90vw;
}

h1 {
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 16px;
    color: var(--input-bg);
}

.password-form {
    width: 320px;
    height: 450px;
    background-color: var(--pform-bg);
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    top: 100px;
}

.password-tab {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px 0;
}

.password-label {
    width: 80%;
    border-radius: 5px;
    background-color: var(--input-bg);
    height: 50px;
    font-size: 13px;
    padding: 8px;
    border: none;
    color: #fff;
}

.length-tab {
    display: flex;
    flex-direction: row;
    width:100%;
    height:50px;
    padding:30px;
    padding-left: 40px;
    background:var(--input-bg);
    border-radius:5px;
    display:flex;
    align-items:center;
}

.length-tab input {
    -webkit-appearance:none !important;
    width:100%;
    height:3px;
    background:#ffffff;
    border:none;
    outline:none;
    position: relative;
    right: 25px;
}

.length-tab input::-webkit-slider-thumb {
    -webkit-appearance:none !important;
    width:18px;
    height:18px;
    background:var(--btn-color);
    border-radius:50%;
    cursor:grab;
}

.length-tab p {
    font-size:18px;
    font-weight:600;
    color:#fff;
}

.copy-to-clip {
    width: 20%;
    height: 50px;
    border-radius: 5px;
    background-color: var(--btn-color);
    border: none;
    cursor: pointer;
    color: white;
    font-size: 20px;
} 

.copy-to-clip:hover {
    transition: 0.3s;
    background-color: var(--btn-color-light);
} 

.password-title {
    margin-top: 15px;
}

input:focus {
    outline: none;
}

label {
    color: var(--font-color);
}

.length {
    margin-top: 15px;
}

.checkbox,
.checkbox-two {
    background-color: var(--input-bg);
    width: 100%;
    height: 50px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    border-radius: 5px;
    color: #fff;
}

.number-box,
.char-box {
    width: 20px;
    margin-left: 8px;
    border-radius: 5px;
    background-color: var(--font-color);
}

.generate-pass {
    width: 100%;
    height: 60px;
    background-color: var(--btn-color);
    margin-top: 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    font-weight: 500;
}
